
/**
 * ----------------------------------------------------------------------------
 *  LAYOUT
 * ----------------------------------------------------------------------------
 */


.o-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$kraft-global-spacing-unit;


  /**
   * Align the layout items to the left
   *
   * │                              │
   * │ ┌────┐  ┌────┐  ┌────┐       │
   * │ └────┘  └────┘  └────┘       │
   * │                              │
   *
   */
  &--left {
    justify-content: flex-start;
    text-align: start;
  }


  /**
   * Align the layout items to the center (horizontal)
   *
   * │                              │
   * │    ┌────┐  ┌────┐  ┌────┐    │
   * │    └────┘  └────┘  └────┘    │
   * │                              │
   *
   */
  &--center {
    justify-content: center;
    text-align: center;
  }


  /**
   * Align the layout items to the right
   *
   * │                              │
   * │       ┌────┐  ┌────┐  ┌────┐ │
   * │       └────┘  └────┘  └────┘ │
   * │                              │
   *
   */
  &--right {
    justify-content: flex-end;
    text-align: end;
  }


  /**
   * Align the layout items to the top
   *
   *  ┌───────┐  ┌───────┐  ┌───────┐
   *  └───────┘  │       │  └───────┘
   *             │       │
   *             └───────┘
   *
   */
  &--top {
    align-items: flex-start;
  }


  /**
   * Align the layout items to the middle (vertical)
   *
   *             ┌───────┐
   *  ┌───────┐  │       │  ┌───────┐
   *  └───────┘  │       │  └───────┘
   *             └───────┘
   *
   */
  &--middle {
    align-items: center;
  }


  /**
   * Align the layout items to the bottom
   *
   *             ┌───────┐
   *             │       │
   *  ┌───────┐  │       │  ┌───────┐
   *  └───────┘  └───────┘  └───────┘
   *
   */
  &--bottom {
    align-items: flex-end;
  }


  /**
   * Add equal horizontal space all around the layout items
   *
   *  │                                 │
   *  │   ┌─────┐   ┌─────┐   ┌─────┐   │
   *  │   └─────┘   └─────┘   └─────┘   │
   *  │                                 │
   *
   */
  &--around {
    justify-content: space-around;
  }


  /**
   * Add space between the layout items (not around the ends)
   *
   *  │                                   │
   *  │ ┌─────┐      ┌─────┐      ┌─────┐ │
   *  │ └─────┘      └─────┘      └─────┘ │
   *  │                                   │
   *
   */
  &--between {
    justify-content: space-between;
  }


  /**
   * Reverse the order of the layout items
   *
   *  ┌───────┐  ┌───────┐  ┌───────┐
   *  │   3   │  │   2   │  │   1   │
   *  └───────┘  └───────┘  └───────┘
   *
   */
  &--reverse {
    flex-direction: row-reverse;
  }
}



.o-layout__item {
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-left: $kraft-global-spacing-unit;


  &--first {
    order: -1;
  }

  &--last {
    order: 1;
  }
}




.o-layout--small {
  margin-left: -$kraft-global-spacing-unit--small;

  .o-layout__item {
    padding-left: $kraft-global-spacing-unit--small;
  }
}
