


// Global typographical styles
$kraft-global-font-size:        16px !default;
$kraft-global-line-height:      24px !default;
$kraft-global-text-color:       #111 !default;
$kraft-global-font-family:      'Helvetica Neue', Helvetica, Arial, sans-serif !default;


// Global spacing
$kraft-global-spacing-unit:          round($kraft-global-line-height) !default;
$kraft-global-spacing-unit-tiny:     round($kraft-global-spacing-unit * .25) !default;
$kraft-global-spacing-unit-small:    round($kraft-global-spacing-unit * .5) !default;
$kraft-global-spacing-unit-large:    round($kraft-global-spacing-unit * 2) !default;
$kraft-global-spacing-unit-huge:     round($kraft-global-spacing-unit * 4) !default;
