
/*
|--------------------------------------------------------------------------
| settings / core
|--------------------------------------------------------------------------
|
| Core stuff
|
*/


// Global typographical styles
$kraft-global-font-size:          16px !default;
$kraft-global-line-height:        24px !default;
$kraft-global-text-color:         #111 !default;
$kraft-global-font-family:        'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$kraft-global-background-color:   #eee;


// Global spacing
$kraft-spacing-factor--tiny:    .5 !default;
$kraft-spacing-factor--small:   .75 !default;
$kraft-spacing-factor--large:   1.25 !default;
$kraft-spacing-factor--huge:    1.75 !default;

$kraft-global-spacing-unit:           round($kraft-global-line-height) !default;
$kraft-global-spacing-unit--tiny:     round($kraft-global-spacing-unit * $kraft-spacing-factor--tiny) !default;
$kraft-global-spacing-unit--small:    round($kraft-global-spacing-unit * $kraft-spacing-factor--small) !default;
$kraft-global-spacing-unit--large:    round($kraft-global-spacing-unit * $kraft-spacing-factor--large) !default;
$kraft-global-spacing-unit--huge:     round($kraft-global-spacing-unit * $kraft-spacing-factor--huge) !default;


$kraft-global-radius: 4px !default;
$kraft-global-round: 9999px !default;
